<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container px-md-5">
		<div class="row ">
			<div class="col-md mb-5">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Recent Photos</a>
				</h2>
				<ul class="list-unstyled photo">
					{% for item in collection %}
						{% if loop.index0 < 6 %}
							<li>
								<a href="{{ item.mainImage }}" title="{{ item.title }}" class="img image-popup" style="background-image: url({{ item.mainImage }}?w=400);"></a>
							</li>
						{% endif %}
						{%endfor%}
					</ul>
				</div>
			</div>

			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have <a href="/contact">Questions?</a>
					</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span>
								<span class="text">{{ author[0].address.street }}, {{ author[0].address.suburb }}, {{ author[0].address.state }}</span></li>
							<li class="d-flex justify-content-start">
								<a href="{{ author[0].facebook }}">
									<span class="icon icon-facebook"></span></a>
								<a href="{{ author[0].instagram }}" target="_blank">
									<span class="icon icon-instagram"></span></a>

								<a href="{{ author[0].eyeem }}">
									<span class="icon icon-eyeemcustom"><img src='/images/eyeem-white.svg' style="width:45px"></span></a>
							</li>
							<li>

								<span class="icon icon-envelope"></span>
								<span class="text">{{ author[0].email }}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<p> Created by <a href="https://dnafication.netlify.com/contact-me" style="border-bottom: dashed;">dnafication</a> | 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	  Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved |  Template provided by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</div>
</footer>