---
layout: "layouts/simple.njk"
title: "Architecture"
siteName: "A Slice of Life"
eleventyNavigation: 
  key: Architecture
  order: 7
---

<section class="ftco-section ftco-bread">
  <div class="container">
    <div class="row no-gutters slider-text justify-content-center align-items-center">
      <div class="col-md-8 ftco-animate">
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="/">Home</a>
          </span>
          <span>Gallery</span></p>
        <h1 class="bread">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section-3">
  <div class="photograhy">
    <div class="row">

      {% for item in collection %}
        {% if item.categories.title == "Architecture" %}
          <div class="col-6 col-md-4 pr-2 pl-2 ftco-animate">
            <a href="{{ item.mainImage }}" title="{{ item.title }}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({{item.mainImage}}?w=400);">
              <div class="overlay"></div>
              <div class="text ml-4 mb-4">
                <h3>{{ item.title }}</h3>
                <span class="tag">{{ item.categories.title }}</span>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>