---
layout: "layouts/simple.njk"
title: "Contact Me"
eleventyNavigation: 
  key: Contacts
  order: 4
---

<section class="ftco-section ftco-bread">
  <div class="container">
    <div class="row no-gutters slider-text justify-content-center align-items-center">
      <div class="col-md-8 ftco-animate">
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="/">Home</a>
          </span>
          <span>Contact</span></p>
        <h1 class="bread">Contact Me</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h3 font-weight-bold">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4 d-flex">
        <div class="info bg-light p-4">
          <p>
            <span>Address:</span>
            {{ author[0].address.street }}, {{ author[0].address.suburb }}, {{ author[0].address.state }}
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-light p-4">
          <p>
            <span>Phone:</span>
            <a href="tel://{{ author[0].phone }}">{{ author[0].phone }}</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-light p-4">
          <p>
            <span>Email:</span>
            <a href="mailto:{{ author[0].email }}">{{ author[0].email }}</a>
          </p>
        </div>
      </div>

    </div>
    <div class="row block-9">
      <div class="col-md-6 d-flex">

        <form name="contact-asol" method="POST" data-netlify="true" 
          netlify-honeypot="bot-field" class="bg-light p-5 contact-form">
          <p>
            If you have any queries or any requests please get in touch using the form below:
          </p>
          <p class="d-none">
            <label>Don’t fill this out if you're human: <input name="bot-field"/></label>
          </p>
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6 d-flex">
        <div class="bg-light"></div>
        <div id="map" class="bg-light"></div>
      </div>
    </div>
  </div>
</section>